body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.125em;
  color: #434455;
  background-color: #fff;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------------------------MOBILE--------------------------------------*/
.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-header {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent-header {
  color: #2e2f42;
}
.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/Dark-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  height: 432px;
  padding-top: 72px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-devise-pixel-ratio: 2) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-mobile@2x.jpg");
  }
}
.hero-title {
  font-family: Roboto, sans-serif;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
  max-width: 215px;
  margin-bottom: 72px;
}

.hero-button {
  font-family: Roboto, sans-serif;
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  min-width: 169px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/*--------------------------MOBILE BENEFITS------------------------------------*/
.benefits-list-link {
  display: none;
}
.benefits {
  padding: 96px 0;
}
.benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 72px;
}
.benefits-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.benefits-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  width: 264px;
  flex-direction: column;
  gap: 72px;
  margin-right: auto;
  margin-left: auto;
}
.section-team-person {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #fff;
}

.list-item-text {
  padding: 32px 0px;
}
.person-name {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.person-job {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.link-team {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cocial-nav-link {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-cocial-link {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.portfolio {
  padding: 96px 0;
}
.title-portfolio {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.our-section-portfolio {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.list-portfolio {
  background-color: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.photo-over-div {
  position: relative;
  overflow: hidden;
}
.text-over {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0px;
  background: #fff;
}

.portfolio-title {
  color: #2e2f42;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.port-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*--------------------------------FOOTER------------------------------------*/
.footer {
  background: #2e2f42;
  padding: 96px 0;
}
.main-footer-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}
.div-footer-logo {
  text-align: center;
}
.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
  color: #4d5ae5;
}
.logo-footer-st {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  text-align: start;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
  width: 288px;
}
.p-footer {
  text-align: center;
  color: #fff;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.cocial-nav-link-footer {
  display: flex;
  gap: 16px;
}

.icons-item-footer {
  width: 40px;
  height: 40px;
}

.icon-footer {
  fill: #f4f4fd;
}
.p-footer-form {
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-lable {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.email-footer-input {
  width: 288px;
  height: 40px;
  font-size: 12px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  opacity: 0.3;
  transition: border-color 250ms linear;
}

.email-footer-input::placeholder {
  color: #fff;
}

.footer-btn {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  color: #fff;
  letter-spacing: 0.04em;
  width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*-----------------------------------------BACDROP----------------------------------*/
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  width: 288px;
  min-height: 623px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fcfcfc;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 72px;
  padding-bottom: 24px;
}
.form-close-btn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  padding: 0;
  line-height: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.title-texst-backdrop {
  display: block;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
.form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form {
  margin-bottom: 8px;
}

.review-form-input-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
}
.form-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-contacts {
  margin-bottom: 16px;
}
.form-input:focus + .form-icons {
  fill: #4d5ae5;
}
.form-input:focus {
  border-color: #4d5ae5;
}

.form-contacts-coments {
  margin-bottom: 16px;
}

.form-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  resize: none;
}
.form-comment:focus {
  border-color: #4d5ae5;
}

.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

/*----------------------------------policy--------------------------------*/

.form-contacts-checkbox {
  margin-bottom: 24px;
}

.form-checkbox:checked + .form-label > .check-mark {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.form-checkbox:checked + .form-label .icon-check-mark {
  opacity: 1;
}

.check-mark {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label {
  display: flex;
  align-items: center;
}

.form-link {
  color: #4d5ae5;
}

.icon-check-mark {
  fill: #fff;
  opacity: 0;
}

.form-button {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}
/*-------------------------------MOBILE MEDIA---------------------------------*/
@media screen and (max-width: 767px) {
  .list-header {
    display: none;
  }

  .address {
    display: none;
  }
  .mobile-menu-open-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  .main-header {
    padding-top: 17px;
    padding-bottom: 16px;
  }

  /*-------------------------------MOBILE MENU OVERLAY---------------------------------*/
  .mobile-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fff;
    display: flex;
    transform: translateX(100%);
  }

  .mobile-menu-overlay.is-open {
    transform: translateX(0%);
    transition: 250ms linear;
  }

  .mobile-container {
    position: relative;
    padding: 72px 24px 40px 16px;
    display: flex;
    flex-direction: column;
  }
  .close-btn {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-nav-overlay-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .mobile-studio {
    color: #404bbf;
  }
  .contacts-and-social {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-top: auto;
  }
  .address-mobile-overlay {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .address-mobile-overlay-link {
    color: #434455;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .address-lnk {
    color: #4d5ae5;
  }

  .cocial-nav-link {
    display: flex;
    gap: 40px;
  }
  .mobile-icon-list-item {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .mobile-icon-list-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-over {
    display: none;
  }
  .footer {
    padding-left: 108px;
    padding-right: 108px;
  }
  .main-footer-div {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 72px 24px;
  }
  .div-footer-logo {
    text-align: start;
  }
  .email-footer-input:focus {
    border-color: #4d5ae5;
  }
  .footer-btn:hover,
  .footer-btn:focus {
    background-color: #404bbf;
  }
  .footer-lnk:hover,
  .footer-lnk:focus {
    background-color: #31d0aa;
  }
  .p-footer-form {
    text-align: left;
  }
  .footer-form-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
/*-------------------------------TABLET MEDIA-------------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .mobile-menu-overlay {
    display: none;
  }
  .header-logo {
    margin-right: 72px;
  }
  .mobile-menu-open-btn {
    display: none;
  }

  .list-header {
    display: flex;
    gap: 40px;
    padding: 24px 0;
  }

  .header-link {
    font-family: Roboto, sans-serif;
    color: #2e2f42;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }

  .list-header :hover,
  .list-header :focus {
    color: #404bbf;
  }

  .studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .contacts {
    font-style: normal;
  }
  .address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-item {
    line-height: 0;
  }

  .contacts-link {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    font-style: normal;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address :hover,
  .address :focus,
  .address :active {
    color: #404bbf;
  }

  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-tablet.jpg");
    max-width: 768px;
    height: 436px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devise-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/Dark-bg-tablet@2x.jpg");
    }
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .hero-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button:hover {
    background: #404bbf;
  }

  .hero-button:focus {
    background: #404bbf;
  }

  .benefits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }
  .list-benefits {
    width: 356px;
  }
  .benefits-title {
    text-align: start;
  }
  .team-list {
    width: auto;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .link-team {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-team:hover,
  .link-team:focus {
    background-color: #404bbf;
  }
  .icons-item:hover,
  .icons-item:focus {
    background-color: #31d0aa;
  }
  .our-section-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .list-portfolio {
    width: 356px;
  }
  .text-over {
    display: block;
  }
  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
  }
  .portfolio-list-item:hover .text-over {
    transform: translateY(0);
  }
  .modal {
    width: 408px;
    min-height: 584px;
    padding-left: 24px;
    padding-right: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .backdrop {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-label {
    display: block;
  }
  .form-close-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-close-btn:hover,
  .form-close-btn:focus {
    background-color: #404bbf;
    border: none;
  }

  .form-close-btn:hover > .form-close-btn-icon,
  .form-close-btn:focus > .form-close-btn-icon {
    fill: #fff;
  }
  .form-input:focus {
    border-color: #4d5ae5;
  }
  .form-comment:focus {
    border-color: #4d5ae5;
  }
}

/*-------------------------------DESKTOP MEDIA-------------------------------*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .address {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
  }
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office.jpg");
    max-width: 1440px;
    height: 600px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devise-pixel-ratio: 2) {
    .hero-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/people-office@2x.jpg");
    }
  }
  .benefits {
    padding: 120px 0;
  }
  .container {
    width: 1158px;
  }
  .benefits-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    fill: #2e2f42;
    margin-bottom: 8px;
  }
  .benefits-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .list-benefits {
    width: calc((100% - 72px) / 4);
  }
  .benefits-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-section-portfolio {
    row-gap: 48px;
  }
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .footer {
    padding: 100px 0;
  }
  .div-footer-logo {
    margin-right: 120px;
  }
  .text-footer {
    width: 264px;
  }
  .footer-list-icons {
    margin-right: 80px;
  }
  .main-footer-div {
    flex-wrap: nowrap;
    gap: 0;
  }
  .email-footer-input {
    width: 264px;
    opacity: 1;
  }
  .p-footer {
    text-align: left;
  }
}
